body{
background-image: url(https://c4.wallpaperflare.com/wallpaper/362/276/920/nature-4k-pc-full-hd-wallpaper-preview.jpg);
background-repeat: no-repeat;
background-size:cover;
height: 100%;

}
.App{
  background-color: palevioletred;
  min-height: 500px;
  width: 400px;
  margin: 40px auto;
}
#to-do-form h1{
 color: palevioletred;
 background-color: white;
 padding: 5px;
 margin-top: 5px;
 text-align: center;
 border-radius: 10px;
}
#to-do-form input{
  background-color: white;
  border: 0;
  color: pink;
  width: 200px;
  height: 20px;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 10px;
  margin:20px;
  margin-bottom: -10px;
}

#to-do-form input:focus{
  outline: none;
}
#to-do-form button{
  height: 42px;
  width: 80px;
  border-radius: 5px;
  border: 0;
  background-color: white;
  cursor: pointer;
}
#to-do-form button:focus{
  outline: none;
}